{% extends 'base/erp_base.html' %}
{% block title %}Delete Harvest{% endblock %}
{% block page_title %}Delete Harvest{% endblock %}
{% block page_subtitle %}Confirm delete action{% endblock %}
{% block content %}
<div class="section-box">
    <p>Are you sure you want to delete harvest of <strong>{{ harvest.crop }}</strong>?</p>
    <form method="POST">
        {% csrf_token %}
        <button type="submit" style="padding:10px 16px; background:red; color:white; border:none; border-radius:8px;">Yes, Delete</button>
    </form>
</div>
{% endblock %}